# VS / .NET basics
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Build output
[Bb]in/
[Oo]bj/
[Dd]ebug*/
[Rr]elease*/

# MAUI / Mobile artifacts
*.apk
*.aab
*.ipa
AppPackages/
BundleArtifacts/

# Platform caches / OS junk
*.cache
!*.[Cc]ache/
.DS_Store
Thumbs.db

# NuGet
*.nupkg
**/packages/*
!**/packages/build/
*.nuget.props
*.nuget.targets

# Logs / test noise
*.log
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*
